<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<section name="daabProviders" type="Melon.ApplicationBlocks.Data.DAABSectionHandler, Melon.ApplicationBlocks.Data" />
	</configSections>
	<daabProviders>
		<daabProvider alias="DB" assembly="Melon.ApplicationBlocks.Data" type="Melon.ApplicationBlocks.Data.SqlServer" />
	</daabProviders>
	<appSettings>
		
		<!--This line DNE-->
		
		<!--This line DNE-->
		
		<!--This line DNE-->
		<add key="RunServiceName" value="CleverRunService" />
		<!--service name of Clever Run Service on this machine-->
		<add key="ErrorEmail" value="support@tclogic.com" />
		<!-- email on which will be sent info for the unexpected errors-->
		<add key="ItemsFilterField" value="ItemDesc" /><!-- The filter could be "ItemDesc" or "ItemCodeAlt"-->
    <add key="DefaultChartDockView" value="Chart"></add><!-- "Chart" or "Data" -->
		<add key="CommandTimeOut" value="180" />
		<add key="CreateTOGridColumnsExclude" value="" />
		<!-- Columns not do display in the "Create order" popup -->
		<add key="ERPPOOrdersPortalFolder" value="~/ERPIntegration/P21/UploadPOs.aspx" />
		<add key="ERPTOOrdersPortalFolder" value="~/ERPIntegration/P21/UploadTOs.aspx" />
    <add key="HelpDocsTargetFolder" value="/HelpDocs" />
	<add key="Telerik.Skin" value="Web20" />
	<add key="Telerik.ScriptManager.TelerikCdn" value="Enabled" />
	<add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

	
		<!--<add key="ERPSupPlansPortalFolder" value="~/ERPIntegration/SAP/SupPlans.aspx"/>-->
	</appSettings>
	<!--Clear Connection Strings-->
	<!--Use trusted connections-->
	<connectionStrings>
		<!--<add name="CleverDAO.Properties.Settings.TCLCleverConnectionString" connectionString="Data Source=192.168.0.21;Initial Catalog=TCLClever;User ID=sa;Password=+411L0g1c;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ASPStateConnectionString" connectionString="Data Source=192.168.0.21;Initial Catalog=ASPState;Persist Security Info=True;User ID=sa;Password=+411L0g1c" providerName="System.Data.SqlClient"/>-->
    
    <!-- Clever DB Connections :-->
    <!--<add name="TCLCleverConnectionString"     connectionString="Data Source=216.214.102.12;Initial Catalog=TCLClever;Persist Security Info=True;User ID=sa;Password=+411L0g1c;" providerName="System.Data.SqlClient"/>-->
     <add name="adminTCLConnectionString" connectionString="Data Source=10.20.23.241;Initial Catalog=adminTCL-BIDS;Persist Security Info=True;User ID=sa;Password=+411L0g1c" providerName="System.Data.SqlClient" />
    <!--<add name="TCLCleverDmdConnectionString" connectionString="Data Source=192.168.0.21;Initial Catalog=TCLCleverDmd;Persist Security Info=True;User ID=sa;Password=+411L0g1c;" />-->
    
    <!--ERP Integration DB Connections : -->
    <!--<add name="eiBIDS-SHIMSConnectionString" connectionString="Data Source=192.168.0.21;Initial Catalog=eiBIDS-SHIMS;Persist Security Info=True;User ID=sa;Password=+411L0g1c" providerName="System.Data.SqlClient" />-->
		<!--<add name="eiBIDS-P21ConnectionString" connectionString="Data Source=10.84.20.50;Initial Catalog=eiBIDS-P21;Persist Security Info=True;User ID=sa;Password=+411L0g1c" providerName="System.Data.SqlClient" />-->

    <!--ERP Integration DB Connections : -->
    <!--<add name="eiBIDS-P21ConnectionString" connectionString="Data Source=10.84.20.50;Initial Catalog=eiBIDS-P21;Persist Security Info=True;User ID=sa;Password=+411L0g1c" providerName="System.Data.SqlClient" />-->
    <!-- BusinessUnits Dependent Connections (etlBusUnit, TCLogicBusUnit). For every BusUnit in the application should be specified separate connection!!!: --> 
    <!--<add name="TCLogicKMOConnectionString" connectionString="Data Source=192.168.0.65;Initial Catalog=TCLogicKMO;  User ID=sa;Password=+411L0g1c;"/>-->
    <!--<add name="TCLogicMECConnectionString" connectionString="Data Source=192.168.0.39;Initial Catalog=TCLogicMEC;  User ID=sa;Password=+411L0g1c;" />-->
    <!--<add name="TCLogicSECConnectionString" connectionString="Data Source=192.168.0.39;Initial Catalog=TCLogicSEC;  User ID=sa;Password=+411L0g1c;" />-->
    
    <!--<add name="etlKMOConnectionString" connectionString="Data Source=192.168.0.65;Initial Catalog=etlKMO;  User ID=sa;Password=+411L0g1c;"/>-->
    <!--<add name="etlMECConnectionString" connectionString="Data Source=192.168.0.39;Initial Catalog=etlMEC;  User ID=sa;Password=+411L0g1c;" />
        <add name="etlSECConnectionString" connectionString="Data Source=192.168.0.39;Initial Catalog=etlSEC;  User ID=sa;Password=+411L0g1c;" />-->
   
 
	</connectionStrings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="support@tclogic.com">
				<network defaultCredentials="true" host="localhost" port="25" />
			</smtp>
		</mailSettings>
	</system.net>
	<system.web>
		<membership userIsOnlineTimeWindow="60">
			<providers>
				<clear />
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="adminTCLConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="3" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="" applicationName="/Clever" />
			</providers>
		</membership>
		<!-- RadControls for ASP.NET AJAX Step By Step -->
		<roleManager enabled="true" defaultProvider="RoleProvider">
			<providers>
				<add connectionStringName="adminTCLConnectionString" applicationName="/Clever" name="RoleProvider" type="System.Web.Security.SqlRoleProvider" />
			</providers>
		</roleManager>
		<!-- 
			Set compilation debug="true" to insert debugging 
			symbols into the compiled page. Because this 
			affects performance, set this value to true only 
			during development.
		-->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" /></assemblies>
		</compilation>
		<pages theme="Default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
			</controls>
		</pages>
    <globalization culture="en-US" />
		<!--
			The <authentication> section enables configuration 
			of the security authentication mode used by 
			ASP.NET to identify an incoming user. 
		-->
		<!--<authentication mode="Windows"/>-->
		<!--This line DNE-->
		<authentication mode="Forms">
			<forms timeout="60" slidingExpiration="true" cookieless="AutoDetect">
			</forms>
		</authentication>

      <!-- Check whether ASP.NET State Service is running on the machine where the web site is hosted-->
    <sessionState cookieless="UseUri" mode="StateServer" timeout="100" regenerateExpiredSessionId="true" />
		<!--
			The <customErrors> section enables configuration 
			of what to do if/when an unhandled error occurs 
			during the execution of a request. Specifically, 
			it enables developers to configure html error pages 
			to be displayed in place of a error stack trace.

		<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
			<error statusCode="403" redirect="NoAccess.htm" />
			<error statusCode="404" redirect="FileNotFound.htm" />
		</customErrors>
		-->
		<customErrors mode="Off">
		</customErrors>
		<httpHandlers>
			<add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
			<add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
			<add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
			<add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
			<add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
		</httpHandlers>
		<httpModules>
			<add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" />
			<add name="RadCompression" type="Telerik.Web.UI.RadCompression" />
		</httpModules>
		<httpRuntime requestValidationMode="2.0" maxRequestLength="4096" executionTimeout="300" />
		<!--This Line DNE-->
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="RadUploadModule" />
			<add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode" />
			<remove name="RadCompression" />
			<add name="RadCompression" type="Telerik.Web.UI.RadCompression" preCondition="integratedMode" />
			<!--<add name="RadUploadModule" preCondition="integratedMode" type="Telerik.Web.UI.RadUploadHttpModule" />-->
		</modules>
		<handlers>
			<remove name="ChartImage_axd" />
			<add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
			<remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
			<add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
			<remove name="Telerik_Web_UI_DialogHandler_aspx" />
			<add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
			<remove name="Telerik_RadUploadProgressHandler_ashx" />
			<add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
			<remove name="Telerik_Web_UI_WebResource_axd" />
			<add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
			<!--<remove name ="Telerik_RadUploadProgressHandler_ashx"/>
            <add name="Telerik_RadUploadProgressHandler_ashx" verb="*" preCondition="integratedMode" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" />-->
		</handlers>
	</system.webServer>
	<location path="User">
		<system.web>
			<authorization>
				<allow roles="Sales,Buyer,Planner,Manager,Admin" />
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
  <location path="HelpDocs">
    <system.web>
      <authorization>
        <allow roles="Sales,Buyer,Planner,Manager,Admin" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Process">
		<system.web>
			<authorization>
				<allow roles="Manager,Admin" />
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="Setup">
		<system.web>
			<authorization>
				<allow roles="Manager,Admin" />
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="Admin">
		<system.web>
			<authorization>
				<allow roles="Admin" />
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
  
	<location path="ERPIntegration">
		<system.web>
			<authorization>
				<allow roles="Buyer,Planner,Manager,Admin" />
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
  <location path="Events">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
	<location path="ProcessRunningInfo.aspx">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
  <location path="SelectDataSource.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
</configuration>
